body {
    background-color: #ffd6ec;
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: linear-gradient(to bottom, #ff8fc7, #ff5fa2);
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
    border: none;
    padding: 12px 24px;
    margin: 10px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(255, 105, 180, 0.5);
    transition: 0.3s;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}