body {
    background-color: #ffd6ec;
    color: #000000;
    font-family: "Bai Jamjuree", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

button {
    /* gradiente correto */
    background: linear-gradient(to bottom, #ff8fc7, #ff5fa2);

    /* texto preto */
    color: black;

    font-family: "Bai Jamjuree", sans-serif;

    border: none;
    padding: 12px 24px;
    margin: 10px;

    border-radius: 20px;

    font-size: 20px;
    cursor: pointer;

    box-shadow: 0 4px 10px rgba(255, 105, 180, 0.5);

    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
    border-radius: 15px;
}